@import 'fonts.scss';

@mixin insideAutoLayout($order) {
    flex: none;
    order: $order;
    align-self: stretch;
    flex-grow: 0;
}
.checkbox_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 564px;
    height: 24px;
    @include insideAutoLayout(3)
}

.checkbox_container_check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
}

.checkbox_container_title{
    width: 524px;
    height: 24px;

    @include insideAutoLayout(1);
    @include inputField;
}









/*
.checkbox_container_input{
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
    -webkit-appearance: none;
    appearance: none;
}
.checkbox_container_input_box {
    width: 100px;
    height: 24px;
    background-image: url(../checkbox_disabled.svg);
}
.checkbox_container_input:checked + .checkbox_container_input_box{
    background-image: url(../check.svg);
}*/


